$first-color: #00A0E0;
$color-white: #ffffff;

#t4-header{
    position: absolute !important;
    width: 100%;
    border-bottom: none;
}

.navbar-nav{
    background-color: $first-color;
}

.nav-item {
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
}

.t4-megamenu .navbar-nav>li.active>a, .t4-megamenu .navbar-nav>li.active>.nav-link{
    border-bottom: none;
}

.ss-main-menu{
    margin-top: 34px;
}

@media (min-width: 992px) {
    .nav-breakpoint-lg .t4-megamenu .navbar-nav>li>a, .nav-breakpoint-lg .t4-megamenu .navbar-nav>li>.nav-link {
        padding: 1.2rem 0.8em;
    }
}


.acm-hero{
    .hero-content{
        .hero-heading{
            font-size: 1.6rem;
            color: $color-white;
            margin-bottom: 25px;
            margin-top: 150px;
        }
    }
}

.hero-2{
    .btn.btn-primary{
        background-color: $first-color;
        color: $color-white;
    }

    .btn-hero{
        position: absolute;
        top: 200px;
        left: 0;
        right: 0;
        max-width: 50%;
        margin: 0 auto;
    }
}

.btn-primary-color{
    background-color: $first-color;
    border-color: $first-color;
    color: $color-white;

    &:hover{
        color: $color-white;
    }
}

#t4-section-1 .container{
    padding-top: 4em;
    padding-bottom: 4em;
}

#t4-section-2 .container{
    padding-top: 4em;
    padding-bottom: 4em;
}

.t4-section.t4-section-2{
    background-color: $first-color;
}

.ss-banner-callout{
    text-align: center;
    color: $color-white;

    p{
        font-size: 1.4rem;
        margin-bottom: 0;
    }
}

.footnav-1, .footnav-2, .footnav-3, .footnav-4, .footnav-5 {
    .module-title {
        color: $first-color;
        font-size: 1.4rem;
        font-weight: 600;
        text-transform: uppercase;
    }
    .module-ct{
        .custom{
            p{
                margin-bottom: 4px;
                text-transform: uppercase;

                a{
                    color: $first-color;
                }
            }
        }
    }
}